openapi: 3.0.3
info:
  title: Royal Battalion API
  description: |
    REST API for the Royal Battalion gaming community management platform.
    Handles user authentication (Discord OAuth), whitelist management,
    ticket/prospect tracking, match history, server administration,
    and Discord bot integration.

    ## Versioning
    All REST endpoints are versioned and served under the `/v1` prefix, which is
    baked into the `servers[].url` base below (so the paths documented here are
    relative to `/v1`, e.g. `/users` resolves to `/v1/users`).

    A few root-level, NON-versioned endpoints are exempt (external / infra
    contracts that must not move) and declare their own root `servers` override:
    - `GET /health` -- infra/Railway health probe.
    - `GET /admins.cfg` -- fetched by the Squad game server at a fixed URL.

    ## Authentication
    Most endpoints require a JWT Bearer token obtained via the `/auth/sync` endpoint.
    The flow is:
    1. User authenticates with Discord OAuth on the frontend
    2. Frontend sends the Discord access token to `POST /auth/sync`
    3. API returns a JWT (valid 4 hours) containing userId and permissions
    4. Include the JWT in all subsequent requests as `Authorization: Bearer <token>`

    ## Permissions
    Access is controlled by a granular RBAC system with 19 permissions.
    Users with the `admin` permission bypass all permission checks.

    ## Rate Limiting
    - Global: 200 requests/minute per IP
    - Per-route limits noted on individual endpoints

    ## WebSocket Endpoints
    - `ws://.../live-server/ws?token=<jwt>&server=<key>` -- Real-time server events and RCON
    - `ws://.../presence/ws?token=<jwt>&page=<path>` -- User presence tracking
  version: 1.0.0
  contact:
    name: Royal Battalion

servers:
  - url: https://api.royalbattalion.com/v1
    description: Production (all REST endpoints are versioned under /v1)
  - url: http://localhost:3001/v1
    description: Development (all REST endpoints are versioned under /v1)

tags:
  - name: Auth
    description: Authentication and session management
  - name: Users
    description: User account management
  - name: Roles
    description: Discord role-to-permission mapping
  - name: Whitelist
    description: Game server whitelist management
  - name: Clans
    description: Clan management
  - name: Tickets
    description: Support ticket management
  - name: Prospects
    description: Prospect (recruitment) tracking and evaluation
  - name: Legacy Tickets
    description: Read-only archive of legacy support tickets
  - name: Matches
    description: Match history and SquadJS sync
  - name: Servers
    description: BattleMetrics server status
  - name: Stats
    description: Dashboard statistics
  - name: Admins
    description: In-game admin/team information
  - name: Admin Groups
    description: Whitelist admin group management
  - name: SquadJS Config
    description: SquadJS plugin configuration via GitHub
  - name: Server Config
    description: SFTP deployment configuration per server
  - name: Discord Bot
    description: Discord bot management, seeding, timeouts
  - name: Audit Logs
    description: Audit log query and management
  - name: Lobby
    description: Squad lobby-link service (proxied)
  - name: Playtime
    description: Player playtime aggregates
  - name: Seeding Tracker
    description: Seeding leaderboard and player analytics
  - name: System
    description: Health checks and root-level infra endpoints

security:
  - bearerAuth: []

paths:
  # ── Auth ──────────────────────────────────────────────
  /auth/sync:
    post:
      tags: [Auth]
      summary: Authenticate via Discord OAuth
      description: |
        Exchanges a Discord access token for a JWT. Upserts the user in the database,
        syncs Discord roles to permissions, and returns the JWT along with user info.
        Rate limited to 10 requests/minute per IP.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthSyncRequest"
      responses:
        "200":
          description: Authentication successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_AuthSyncResponse"
        "403":
          description: User is not a member of the Discord guild
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Server error or Discord API failure
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /auth/me:
    get:
      tags: [Auth]
      summary: Get current user info
      description: Returns the authenticated user's profile and permissions.
      responses:
        "200":
          description: User info
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_AuthMeResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: User not found in database
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  # ── Users ─────────────────────────────────────────────
  /users:
    get:
      tags: [Users]
      summary: List users (paginated)
      description: |
        Returns a paginated page of users with their assigned roles.
        Supply `steamId` or `eosId` to resolve a user by that identity
        (returns the matching user(s) as the page).
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
        - name: steamId
          in: query
          schema:
            type: string
          description: Filter to the user with this Steam ID
        - name: eosId
          in: query
          schema:
            type: string
          description: Filter to the user with this EOS ID
      responses:
        "200":
          description: Paginated list of users
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_PaginatedUsers"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      x-required-permissions:
        - view:members
        - manage:members

  /users/link-steam:
    post:
      tags: [Users]
      summary: Link Steam ID to current user
      description: Links a Steam ID to the authenticated user's account.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [steamId]
              properties:
                steamId:
                  type: string
                  minLength: 1
      responses:
        "200":
          description: Steam ID linked
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      steamId:
                        type: string
        "400":
          description: Steam ID already linked to another account
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /users/sync-roles:
    post:
      tags: [Users]
      summary: Sync Discord roles for all users
      description: Triggers a bulk Discord role sync across all users in the database.
      responses:
        "200":
          description: Sync completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      updated:
                        type: integer
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "503":
          description: DISCORD_BOT_TOKEN not configured
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-required-permissions:
        - manage:members

  /users/resolve-ids:
    post:
      tags: [Users]
      summary: Resolve Discord IDs to usernames
      description: Batch lookup of Discord usernames by Discord IDs (1-200).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [discordIds]
              properties:
                discordIds:
                  type: array
                  items:
                    type: string
                  minItems: 1
                  maxItems: 200
      responses:
        "200":
          description: ID-to-name mapping
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    additionalProperties:
                      type: string
                    description: Map of Discord ID to username
        "401":
          $ref: "#/components/responses/Unauthorized"

  /users/{id}:
    patch:
      tags: [Users]
      summary: Update user
      description: Partially update a user's identity/profile fields.
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                steamId:
                  type: string
                eosId:
                  type: string
                country:
                  type: string
                membershipDate:
                  type: string
                  format: date-time
                  nullable: true
                dateOfBirth:
                  type: string
                  format: date-time
                  nullable: true
      responses:
        "200":
          description: Updated user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_UserWithRoles"
        "400":
          description: Steam ID conflict
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: User not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-required-permissions:
        - manage:members
    delete:
      tags: [Users]
      summary: Delete user
      description: Permanently deletes a user account.
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: User not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-required-permissions:
        - manage:members

  /users/{id}/status:
    patch:
      tags: [Users]
      summary: Set user enabled/disabled status
      description: |
        Merged replacement for the old `POST /users/:id/disable` + `/enable`.
        Set `disabled: true` (with an optional `reason`) to disable, or
        `disabled: false` to re-enable. Keeps the developer gate and
        self/developer guards.
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [disabled]
              properties:
                disabled:
                  type: boolean
                reason:
                  type: string
      responses:
        "200":
          description: Status updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      disabled:
                        type: boolean
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: User not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-required-permissions:
        - manage:members

  /users/{id}/profile:
    get:
      tags: [Users]
      summary: Get unified user profile
      description: Returns a user's full profile (roles, comments, whitelist entries, live status).
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: User profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_UserProfile"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: User not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-required-permissions:
        - view:members
        - manage:members

  /users/profile:
    get:
      tags: [Users]
      summary: Get unified user profile by Steam ID
      description: |
        Resolves a unified user profile by Steam ID (query param).
        Replaces the old `GET /users/profile/by-steamid/:steamId` path param.
      parameters:
        - name: steamId
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: User profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_UserProfile"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: No profile for that Steam ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-required-permissions:
        - view:members
        - manage:members

  /users/{id}/comments:
    post:
      tags: [Users]
      summary: Add member comment
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text:
                  type: string
                  minLength: 1
      responses:
        "201":
          description: Comment created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/MemberComment"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      x-required-permissions:
        - manage:members

  /users/{id}/comments/{commentId}:
    delete:
      tags: [Users]
      summary: Delete member comment
      description: Deletes a comment scoped by both the user id and comment id.
      parameters:
        - $ref: "#/components/parameters/ResourceId"
        - name: commentId
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Comment not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-required-permissions:
        - manage:members

  /users/bulk-disable:
    post:
      tags: [Users]
      summary: Bulk disable members
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ids, reason]
              properties:
                ids:
                  type: array
                  items:
                    type: string
                reason:
                  type: string
      responses:
        "200":
          description: Bulk result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      disabled:
                        type: integer
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      x-required-permissions:
        - manage:members

  /users/bulk-enable:
    post:
      tags: [Users]
      summary: Bulk enable members
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ids]
              properties:
                ids:
                  type: array
                  items:
                    type: string
      responses:
        "200":
          description: Bulk result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      enabled:
                        type: integer
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      x-required-permissions:
        - manage:members

  /users/bulk-update:
    post:
      tags: [Users]
      summary: Bulk update members
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ids, data]
              properties:
                ids:
                  type: array
                  items:
                    type: string
                data:
                  type: object
                  properties:
                    country:
                      type: string
                    membershipDate:
                      type: string
                      format: date-time
                      nullable: true
      responses:
        "200":
          description: Bulk result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      updated:
                        type: integer
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      x-required-permissions:
        - manage:members

  /users/bulk-delete:
    post:
      tags: [Users]
      summary: Bulk delete members
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ids]
              properties:
                ids:
                  type: array
                  items:
                    type: string
      responses:
        "200":
          description: Bulk result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      deleted:
                        type: integer
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      x-required-permissions:
        - manage:members

  /users/bulk-comment:
    post:
      tags: [Users]
      summary: Bulk comment on members
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ids, text]
              properties:
                ids:
                  type: array
                  items:
                    type: string
                text:
                  type: string
      responses:
        "200":
          description: Bulk result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      commented:
                        type: integer
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      x-required-permissions:
        - manage:members

  # ── Roles ─────────────────────────────────────────────
  /roles:
    get:
      tags: [Roles]
      summary: List all roles
      description: Returns all Discord roles with their mapped permissions and member counts.
      responses:
        "200":
          description: List of roles
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_DiscordRoleArray"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      x-required-permissions:
        - manage:roles
    post:
      tags: [Roles]
      summary: Create role mapping
      description: Maps a Discord role ID to application permissions.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [discordRoleId, name]
              properties:
                discordRoleId:
                  type: string
                  minLength: 1
                name:
                  type: string
                  minLength: 1
                permissions:
                  type: array
                  items:
                    $ref: "#/components/schemas/Permission"
                  default: []
      responses:
        "201":
          description: Role created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_DiscordRole"
        "400":
          description: Discord role ID already mapped
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      x-required-permissions:
        - manage:roles

  /roles/{id}/permissions:
    put:
      tags: [Roles]
      summary: Update role permissions
      description: Replaces all permissions for a role.
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [permissions]
              properties:
                permissions:
                  type: array
                  items:
                    $ref: "#/components/schemas/Permission"
      responses:
        "200":
          description: Updated role
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_DiscordRole"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Role not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-required-permissions:
        - manage:roles

  /roles/{id}/members:
    get:
      tags: [Roles]
      summary: List members with a role
      description: |
        Returns every registered user who currently has this role, ordered by
        Discord username. Capped at 5000. Used by the roles page roster.
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: Members who have the role
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_RoleMemberArray"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Role not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-required-permissions:
        - manage:roles

  /roles/{id}:
    patch:
      tags: [Roles]
      summary: Update role flags
      description: |
        Merged replacement for the old `PUT /roles/:id/member-role` and
        `PUT /roles/:id/whitelist-grant` endpoints. Set either boolean flag
        (or both) in a single partial update. Returns the updated role.
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                isMemberRole:
                  type: boolean
                grantsWhitelist:
                  type: boolean
      responses:
        "200":
          description: Updated role
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_DiscordRole"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Role not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-required-permissions:
        - manage:roles
    delete:
      tags: [Roles]
      summary: Delete role mapping
      description: Removes a Discord role mapping and all associated permissions.
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Role not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-required-permissions:
        - manage:roles

  # ── Whitelist ─────────────────────────────────────────
  /whitelist:
    get:
      tags: [Whitelist]
      summary: List whitelist entries
      description: Returns all whitelist entries, optionally filtered by server.
      parameters:
        - name: server
          in: query
          schema:
            type: string
          description: Filter by server key (e.g., "main", "battle")
      responses:
        "200":
          description: Whitelist entries
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_WhitelistEntryArray"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      x-required-permissions:
        - view:whitelist
    post:
      tags: [Whitelist]
      summary: Add whitelist entry
      description: Adds a single whitelist entry and triggers SFTP deployment.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddWhitelistEntry"
      responses:
        "201":
          description: Entry created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_WhitelistEntry"
        "400":
          description: Steam ID already whitelisted on this server
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      x-required-permissions:
        - manage:whitelist

  /whitelist/candidates:
    get:
      tags: [Whitelist]
      summary: Get whitelist candidates
      description: >
        Returns pending and dismissed whitelist requests for a server. A pending
        request is a user with a whitelist-granting Discord role and linked Steam ID
        who does not have an active (non-expired, non-deactivated) entry on that
        server and has not been dismissed in the last 30 days.
      parameters:
        - name: server
          in: query
          schema:
            type: string
            default: main
      responses:
        "200":
          description: Pending and dismissed candidates with counts
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_WhitelistCandidateList"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      x-required-permissions:
        - manage:whitelist

  /whitelist/candidates/summary:
    get:
      tags: [Whitelist]
      summary: Whitelist request counts by server
      description: Pending request counts per server, used by the nav badge.
      responses:
        "200":
          description: Pending counts
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_WhitelistCandidateSummary"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      x-required-permissions:
        - manage:whitelist

  /whitelist/candidates/{userId}/dismiss:
    post:
      tags: [Whitelist]
      summary: Dismiss a whitelist request
      description: Hides the request for 30 days for all staff on the given server. Re-dismissing resets the 30-day window.
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [server]
              properties:
                server:
                  type: string
                reason:
                  type: string
                  maxLength: 500
      responses:
        "201":
          description: Dismissal stored
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: User not found
      x-required-permissions:
        - manage:whitelist

  /whitelist/candidates/{userId}/restore:
    post:
      tags: [Whitelist]
      summary: Restore a dismissed whitelist request
      description: Clears an active 30-day dismissal so the request reappears if the user is still eligible.
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [server]
              properties:
                server:
                  type: string
      responses:
        "200":
          description: Dismissal cleared
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: No active dismissal found
      x-required-permissions:
        - manage:whitelist

  /whitelist/bulk:
    post:
      tags: [Whitelist]
      summary: Bulk add whitelist entries
      description: Adds multiple whitelist entries (1-500) and triggers SFTP deployment. Duplicate Steam IDs are skipped.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [entries]
              properties:
                server:
                  type: string
                  default: main
                entries:
                  type: array
                  minItems: 1
                  maxItems: 500
                  items:
                    type: object
                    required: [steamId]
                    properties:
                      steamId:
                        type: string
                      name:
                        type: string
                      clan:
                        type: string
                      role:
                        type: string
                      groupId:
                        type: string
                      reason:
                        type: string
      responses:
        "201":
          description: Bulk add result (duplicates are skipped, not failed)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      created:
                        type: integer
                      skipped:
                        type: array
                        items:
                          type: object
                          properties:
                            steamId:
                              type: string
                            reason:
                              type: string
                              enum: [duplicate_existing, duplicate_in_batch]
                            existingName:
                              type: string
                              nullable: true
                            existingExpiresAt:
                              type: string
                              format: date-time
                              nullable: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      x-required-permissions:
        - manage:whitelist

  /whitelist/bulk-update:
    post:
      tags: [Whitelist]
      summary: Bulk update whitelist entries
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ids, data]
              properties:
                ids:
                  type: array
                  items:
                    type: string
                data:
                  type: object
                  properties:
                    clanId:
                      type: string
                      nullable: true
                    groupId:
                      type: string
                      nullable: true
                    expiresAt:
                      type: string
                      format: date-time
                      nullable: true
      responses:
        "200":
          description: Bulk update result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      updated:
                        type: integer
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      x-required-permissions:
        - manage:whitelist

  /whitelist/bulk-delete:
    post:
      tags: [Whitelist]
      summary: Bulk delete whitelist entries
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ids]
              properties:
                ids:
                  type: array
                  items:
                    type: string
      responses:
        "200":
          description: Bulk delete result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      deleted:
                        type: integer
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      x-required-permissions:
        - manage:whitelist

  /whitelist/{id}:
    patch:
      tags: [Whitelist]
      summary: Update whitelist entry
      description: Partially updates an existing whitelist entry and triggers SFTP deployment.
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                steamId:
                  type: string
                name:
                  type: string
                clan:
                  type: string
                clanId:
                  type: string
                  nullable: true
                role:
                  type: string
                groupId:
                  type: string
                  nullable: true
                reason:
                  type: string
                expiresAt:
                  type: string
                  nullable: true
                  format: date-time
      responses:
        "200":
          description: Updated entry
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_WhitelistEntry"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Entry not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-required-permissions:
        - manage:whitelist
    delete:
      tags: [Whitelist]
      summary: Delete whitelist entry
      description: Removes a whitelist entry and triggers SFTP deployment.
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Entry not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-required-permissions:
        - manage:whitelist

  /whitelist/{id}/comments:
    post:
      tags: [Whitelist]
      summary: Add whitelist comment
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text:
                  type: string
                  minLength: 1
      responses:
        "201":
          description: Comment created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/WhitelistComment"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      x-required-permissions:
        - manage:whitelist

  /whitelist/{id}/comments/{commentId}:
    delete:
      tags: [Whitelist]
      summary: Delete whitelist comment
      description: Deletes a comment scoped by both the entry id and comment id.
      parameters:
        - $ref: "#/components/parameters/ResourceId"
        - name: commentId
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Comment not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-required-permissions:
        - manage:whitelist

  # ── Clans ─────────────────────────────────────────────
  /clans:
    get:
      tags: [Clans]
      summary: List clans
      responses:
        "200":
          description: Clans
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Clan"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      x-required-permissions:
        - manage:whitelist
    post:
      tags: [Clans]
      summary: Create clan
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, tag]
              properties:
                name:
                  type: string
                  minLength: 1
                tag:
                  type: string
                  minLength: 1
      responses:
        "201":
          description: Clan created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/Clan"
        "400":
          description: Clan name or tag already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      x-required-permissions:
        - manage:whitelist

  /clans/{id}:
    patch:
      tags: [Clans]
      summary: Update clan
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                tag:
                  type: string
      responses:
        "200":
          description: Updated clan
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/Clan"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Clan not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-required-permissions:
        - manage:whitelist
    delete:
      tags: [Clans]
      summary: Delete clan
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Clan not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-required-permissions:
        - manage:whitelist

  # ── Tickets ───────────────────────────────────────────
  /tickets:
    get:
      tags: [Tickets]
      summary: List tickets
      description: Returns all tickets, filtered by the caller's tier-based permissions.
      responses:
        "200":
          description: Ticket list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_TicketArray"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      x-required-permissions:
        - view:tickets
        - manage:tickets
        - view:tickets:normal
        - view:tickets:community_officer
        - view:tickets:admin_officer

  /tickets/{id}:
    get:
      tags: [Tickets]
      summary: Get ticket detail
      description: Returns a ticket with its events and messages. Access is checked against ticket tier.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Ticket with events and messages
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_Ticket"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Ticket not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /tickets/by-uuid/{uuid}:
    get:
      tags: [Tickets]
      summary: Public ticket lookup by UUID
      description: |
        Public endpoint to look up a ticket by its UUID. Returns the ticket with events and messages.
        Rate limited to 30 requests/minute per IP.
      security: []
      parameters:
        - name: uuid
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Ticket found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_Ticket"
        "404":
          description: Ticket not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  # ── Prospects ─────────────────────────────────────────
  # (Promoted to a top-level resource; formerly under /tickets/prospects/*.)
  /prospects:
    get:
      tags: [Prospects]
      summary: List all prospects
      description: Returns all prospects ordered by creation date.
      responses:
        "200":
          description: Prospect list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_ProspectArray"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      x-required-permissions:
        - view:tickets
        - manage:tickets

  /prospects/mentors:
    get:
      tags: [Prospects]
      summary: List mentor groups
      description: Returns prospects grouped by their assigned mentor.
      responses:
        "200":
          description: Mentor groups
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/MentorGroup"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      x-required-permissions:
        - manage:discord-bot

  /prospects/by-uuid/{uuid}:
    get:
      tags: [Prospects]
      summary: Public prospect lookup by UUID
      description: |
        Public endpoint to look up a prospect by its UUID. Returns the prospect with events, messages, and votes.
        Rate limited to 30 requests/minute per IP.
      security: []
      parameters:
        - name: uuid
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Prospect found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_Prospect"
        "404":
          description: Prospect not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /prospects/{id}:
    get:
      tags: [Prospects]
      summary: Get prospect detail
      description: Returns a prospect with events, messages, and votes.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Prospect with full detail
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_Prospect"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Prospect not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-required-permissions:
        - view:tickets
        - manage:tickets
    patch:
      tags: [Prospects]
      summary: Update prospect evaluation state
      description: |
        Merged replacement for the old `POST /discord-bot/prospects/:id/pause`,
        `/unpause`, and `/extend` endpoints. Set `paused` to pause/unpause the
        evaluation, and/or `extendDays` to extend the evaluation period.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                paused:
                  type: boolean
                extendDays:
                  type: integer
                  minimum: 1
                  maximum: 30
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdatedResponse"
        "400":
          description: Invalid extendDays value
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Prospect not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-required-permissions:
        - manage:discord-bot

  /prospects/{id}/mentor-reassignment:
    post:
      tags: [Prospects]
      summary: Reassign prospect mentor
      description: |
        Enqueues a mentor reassignment for the prospect (async — handled by the
        Discord bot). Returns 202 Accepted.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [mentorId]
              properties:
                mentorId:
                  type: string
      responses:
        "202":
          description: Reassignment enqueued
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      queued:
                        type: boolean
                        example: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Prospect not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-required-permissions:
        - manage:discord-bot

  # ── Legacy Tickets ────────────────────────────────────
  # (Promoted to a top-level resource; formerly under /tickets/legacy*.)
  /legacy-tickets:
    get:
      tags: [Legacy Tickets]
      summary: List legacy tickets
      description: Returns the archived legacy support tickets.
      responses:
        "200":
          description: Legacy ticket list
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/LegacyTicket"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      x-required-permissions:
        - view:tickets
        - manage:tickets

  /legacy-tickets/by-uuid/{uuid}:
    get:
      tags: [Legacy Tickets]
      summary: Public legacy ticket lookup by UUID
      description: |
        Public endpoint to look up a legacy ticket by its UUID.
        Rate limited to 30 requests/minute per IP.
      security: []
      parameters:
        - name: uuid
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Legacy ticket found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/LegacyTicket"
        "404":
          description: Legacy ticket not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /legacy-tickets/{id}:
    get:
      tags: [Legacy Tickets]
      summary: Get legacy ticket detail
      description: Returns a legacy ticket with its messages.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Legacy ticket with messages
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/LegacyTicket"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Legacy ticket not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-required-permissions:
        - view:tickets
        - manage:tickets

  # ── Matches ───────────────────────────────────────────
  /matches/public:
    get:
      tags: [Matches]
      summary: Get recent public matches (paginated)
      description: Returns non-hidden matches, most recent first. No authentication required.
      security: []
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Paginated public matches
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_PaginatedMatches"

  /matches:
    get:
      tags: [Matches]
      summary: List all matches (paginated)
      description: Returns all matches including hidden ones, most recent first.
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Paginated matches
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_PaginatedMatches"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      x-required-permissions:
        - manage:matches

  /matches/{id}:
    patch:
      tags: [Matches]
      summary: Update match
      description: Partially update match details (date, map, layer, result, etc.).
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  format: date-time
                map:
                  type: string
                layer:
                  type: string
                result:
                  type: string
                server:
                  type: string
                vodUrl:
                  type: string
                  nullable: true
                hidden:
                  type: boolean
      responses:
        "200":
          description: Updated match
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_Match"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Match not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-required-permissions:
        - manage:matches
    delete:
      tags: [Matches]
      summary: Delete match
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Match not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-required-permissions:
        - manage:matches

  /matches/resync:
    post:
      tags: [Matches]
      summary: Resync matches from SquadJS
      description: Triggers a full resync of match data from the SquadJS database.
      responses:
        "200":
          description: Resync result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      resynced:
                        type: integer
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      x-required-permissions:
        - manage:matches

  # ── Servers ───────────────────────────────────────────
  /servers/status:
    get:
      tags: [Servers]
      summary: Get server status
      description: Fetches live server status from BattleMetrics (cached 30s). No authentication required.
      security: []
      responses:
        "200":
          description: Server statuses
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/ServerStatus"

  # ── Admins ────────────────────────────────────────────
  /admins/team-count:
    get:
      tags: [Admins]
      summary: Get in-game admin/team count
      description: Returns the number of admins on the team. No authentication required.
      security: []
      responses:
        "200":
          description: Admin team count
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      count:
                        type: integer

  # ── Stats ─────────────────────────────────────────────
  /stats/summary:
    get:
      tags: [Stats]
      summary: Dashboard summary statistics
      description: |
        Returns aggregated stats for the dashboard. Fields are conditionally included
        based on the caller's permissions:
        - `servers` and `serverMetrics`: always included
        - `tickets` and `prospects`: admin only
        - `members`: admin or view:members
        - `whitelist`: admin or view:whitelist
        - `matches` and `recentMatches`: admin or manage:matches
      responses:
        "200":
          description: Dashboard stats
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      servers:
                        type: array
                        items:
                          $ref: "#/components/schemas/ServerStatus"
                      serverMetrics:
                        type: object
                        additionalProperties:
                          type: object
                          properties:
                            serverName:
                              type: string
                            metricHistory:
                              type: array
                              items:
                                type: object
                            playerCount:
                              type: integer
                            publicQueue:
                              type: integer
                            reserveQueue:
                              type: integer
                            maxPlayers:
                              type: integer
                      tickets:
                        type: object
                        properties:
                          open:
                            type: integer
                          closed:
                            type: integer
                      prospects:
                        type: object
                        properties:
                          open:
                            type: integer
                          accepted:
                            type: integer
                          denied:
                            type: integer
                      members:
                        type: object
                        properties:
                          total:
                            type: integer
                          withSteam:
                            type: integer
                      whitelist:
                        type: object
                        properties:
                          total:
                            type: integer
                      matches:
                        type: object
                        properties:
                          total:
                            type: integer
                          wins:
                            type: integer
                          losses:
                            type: integer
                          draws:
                            type: integer
                      recentMatches:
                        type: array
                        items:
                          $ref: "#/components/schemas/Match"
        "401":
          $ref: "#/components/responses/Unauthorized"

  # ── Admin Groups ──────────────────────────────────────
  /admin-groups:
    get:
      tags: [Admin Groups]
      summary: List admin groups
      description: Returns all admin groups sorted by sortOrder.
      responses:
        "200":
          description: Admin groups
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/AdminGroup"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      x-required-permissions:
        - manage:whitelist
    post:
      tags: [Admin Groups]
      summary: Create admin group
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, permissions]
              properties:
                name:
                  type: string
                  minLength: 1
                permissions:
                  type: string
                  description: Space-separated permission flags
                sortOrder:
                  type: integer
                  default: 0
      responses:
        "201":
          description: Group created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/AdminGroup"
        "400":
          description: Name already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      x-required-permissions:
        - manage:whitelist

  /admin-groups/{id}:
    patch:
      tags: [Admin Groups]
      summary: Update admin group
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                permissions:
                  type: string
                sortOrder:
                  type: integer
      responses:
        "200":
          description: Updated group
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/AdminGroup"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Group not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-required-permissions:
        - manage:whitelist
    delete:
      tags: [Admin Groups]
      summary: Delete admin group
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Group not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-required-permissions:
        - manage:whitelist

  # ── SquadJS Config ────────────────────────────────────
  /squadjs-config:
    get:
      tags: [SquadJS Config]
      summary: List available environments
      description: Returns the list of available SquadJS configuration environments.
      responses:
        "200":
          description: Environment list
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      environments:
                        type: array
                        items:
                          type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "503":
          description: GITHUB_CONFIG_TOKEN not configured
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-required-permissions:
        - view:squadjs
        - manage:squadjs

  /squadjs-config/descriptions:
    get:
      tags: [SquadJS Config]
      summary: Get plugin descriptions
      description: Fetches plugin and field descriptions from SquadJS source code on GitHub.
      responses:
        "200":
          description: Plugin descriptions
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      descriptions:
                        type: object
                        additionalProperties:
                          type: string
                      fieldDescriptions:
                        type: object
                        additionalProperties:
                          type: object
                          additionalProperties:
                            type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      x-required-permissions:
        - view:squadjs
        - manage:squadjs

  /squadjs-config/{env}:
    get:
      tags: [SquadJS Config]
      summary: Read environment config
      description: Reads the SquadJS plugin configuration for a specific environment from GitHub.
      parameters:
        - name: env
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Plugin configuration
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      plugins:
                        type: array
                        items:
                          $ref: "#/components/schemas/SquadJSPlugin"
                      environment:
                        type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "503":
          description: GitHub token not configured
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-required-permissions:
        - view:squadjs
        - manage:squadjs
    patch:
      tags: [SquadJS Config]
      summary: Write environment config
      description: Partially writes updated plugin configuration to GitHub for a specific environment (merges plugins).
      parameters:
        - name: env
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [plugins]
              properties:
                plugins:
                  type: array
                  items:
                    $ref: "#/components/schemas/SquadJSPlugin"
      responses:
        "200":
          description: Config saved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      saved:
                        type: boolean
                        example: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "503":
          description: GitHub token not configured
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-required-permissions:
        - manage:squadjs

  # ── Server Config ─────────────────────────────────────
  /server-config:
    get:
      tags: [Server Config]
      summary: List server configs
      description: Returns all server configurations. SFTP passwords are masked.
      responses:
        "200":
          description: Server configs
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/ServerConfig"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      x-required-permissions:
        - view:whitelist
    post:
      tags: [Server Config]
      summary: Create or update server config
      description: Upserts a server configuration. SFTP password is encrypted if ENCRYPTION_KEY is set.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [server, label]
              properties:
                server:
                  type: string
                  minLength: 1
                label:
                  type: string
                  minLength: 1
                sftpHost:
                  type: string
                  nullable: true
                sftpPort:
                  type: integer
                  default: 22
                sftpUser:
                  type: string
                  nullable: true
                sftpPass:
                  type: string
                  nullable: true
                sftpPath:
                  type: string
                  nullable: true
                syncEnabled:
                  type: boolean
      responses:
        "200":
          description: Config saved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/ServerConfig"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      x-required-permissions:
        - admin

  /server-config/{server}:
    patch:
      tags: [Server Config]
      summary: Set SFTP sync state
      description: |
        Sets the SFTP sync enabled flag for a server to the client-supplied state
        (idempotent). Replaces the old `PUT /server-config/:server/sync` blind toggle.
      parameters:
        - name: server
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [syncEnabled]
              properties:
                syncEnabled:
                  type: boolean
      responses:
        "200":
          description: Updated config
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/ServerConfig"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Server config not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-required-permissions:
        - manage:whitelist-sync
    delete:
      tags: [Server Config]
      summary: Delete server config
      parameters:
        - name: server
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Server config not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-required-permissions:
        - admin

  # ── Discord Bot ───────────────────────────────────────
  /discord-bot/overview:
    get:
      tags: [Discord Bot]
      summary: Bot dashboard overview
      description: Returns tickets, prospects, seeding info, and bot status. Ticket data filtered by tier permissions.
      responses:
        "200":
          description: Overview data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/DiscordBotOverview"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      x-required-permissions:
        - view:discord-bot
        - manage:discord-bot

  /discord-bot/seeding/config:
    get:
      tags: [Discord Bot]
      summary: Get seeding config
      responses:
        "200":
          description: Seeding configuration
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/SeedingConfig"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Config not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-required-permissions:
        - view:discord-bot
        - manage:discord-bot
    patch:
      tags: [Discord Bot]
      summary: Update seeding config
      description: Partial update; omitted fields are left unchanged (not clobbered with defaults).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: boolean
                seedThreshold:
                  type: integer
                resetThreshold:
                  type: integer
                dailyTime:
                  type: string
                  nullable: true
                timezone:
                  type: string
                  nullable: true
                serverName:
                  type: string
                  nullable: true
      responses:
        "200":
          description: Config updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdatedResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      x-required-permissions:
        - manage:discord-bot

  /discord-bot/seeding/sessions:
    get:
      tags: [Discord Bot]
      summary: Get seeding sessions
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 100
      responses:
        "200":
          description: Seeding sessions
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/SeedingSession"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      x-required-permissions:
        - view:discord-bot
        - manage:discord-bot

  # NOTE: prospect pause/unpause/extend moved to PATCH /prospects/{id};
  # mentor reassignment moved to POST /prospects/{id}/mentor-reassignment;
  # mentor listing moved to GET /prospects/mentors.

  /discord-bot/seeding/send-now:
    post:
      tags: [Discord Bot]
      summary: Send seeding call now
      description: Enqueues an immediate seeding call (async — handled by the bot). Returns 202 Accepted.
      responses:
        "202":
          description: Seeding call enqueued
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      queued:
                        type: boolean
                        example: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      x-required-permissions:
        - manage:discord-bot

  /discord-bot/seeding/rapport:
    get:
      tags: [Discord Bot]
      summary: Get seeding rapport for a date
      parameters:
        - name: date
          in: query
          required: true
          schema:
            type: string
            format: date
          description: Rapport date (YYYY-MM-DD)
      responses:
        "200":
          description: Seeding rapport
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/SeedingRapport"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      x-required-permissions:
        - view:discord-bot
        - manage:discord-bot

  /discord-bot/seeding/rapport/send:
    post:
      tags: [Discord Bot]
      summary: Send seeding rapport for a date
      description: Enqueues sending a seeding rapport (async — handled by the bot). Returns 202 Accepted.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [date]
              properties:
                date:
                  type: string
                  format: date
      responses:
        "202":
          description: Rapport enqueued
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      queued:
                        type: boolean
                        example: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      x-required-permissions:
        - manage:discord-bot

  /discord-bot/status:
    get:
      tags: [Discord Bot]
      summary: Get bot status
      responses:
        "200":
          description: Bot status (null if not available)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    oneOf:
                      - $ref: "#/components/schemas/BotStatus"
                      - type: "null"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      x-required-permissions:
        - view:discord-bot
        - manage:discord-bot

  /discord-bot/messages:
    get:
      tags: [Discord Bot]
      summary: Query bot messages
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 200
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - name: author
          in: query
          schema:
            type: string
          description: Filter by author Discord ID
        - name: channel
          in: query
          schema:
            type: string
          description: Filter by channel ID
        - name: dm
          in: query
          schema:
            type: string
            enum: ["1"]
          description: Filter to DMs only
        - name: search
          in: query
          schema:
            type: string
          description: Search message content (LIKE match)
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description: Filter messages after this date
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description: Filter messages before this date
      responses:
        "200":
          description: Paginated messages
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_PaginatedBotMessages"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      x-required-permissions:
        - view:discord-bot
        - manage:discord-bot

  /discord-bot/logs:
    get:
      tags: [Discord Bot]
      summary: Query bot logs
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
            maximum: 500
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - name: level
          in: query
          schema:
            type: integer
          description: Filter by log level
        - name: module
          in: query
          schema:
            type: string
          description: Filter by module name
        - name: search
          in: query
          schema:
            type: string
          description: Search log messages (LIKE match)
        - name: from
          in: query
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: Paginated logs
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_PaginatedBotLogs"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      x-required-permissions:
        - view:discord-bot
        - manage:discord-bot

  /discord-bot/timeouts:
    get:
      tags: [Discord Bot]
      summary: List ticket timeouts
      responses:
        "200":
          description: Timeouts
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/TicketTimeout"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      x-required-permissions:
        - view:discord-bot
        - manage:discord-bot
    post:
      tags: [Discord Bot]
      summary: Create ticket timeout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [userId, hours]
              properties:
                userId:
                  type: string
                hours:
                  type: integer
                  minimum: 1
      responses:
        "201":
          description: Timeout created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/TicketTimeout"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      x-required-permissions:
        - manage:discord-bot

  /discord-bot/timeouts/{id}:
    delete:
      tags: [Discord Bot]
      summary: Expire (end) a ticket timeout
      description: Ends the active timeout. Replaces the old `POST /discord-bot/timeouts/:id/expire`.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: No active timeout for this user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-required-permissions:
        - manage:discord-bot

  # ── Audit Logs ────────────────────────────────────────
  /audit-logs:
    get:
      tags: [Audit Logs]
      summary: Query audit logs (paginated)
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
        - name: action
          in: query
          schema:
            type: string
        - name: resource
          in: query
          schema:
            type: string
        - name: resourceId
          in: query
          schema:
            type: string
        - name: userId
          in: query
          schema:
            type: string
        - name: from
          in: query
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: Paginated audit logs
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_PaginatedAuditLogs"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      x-required-permissions:
        - view:audit-logs

  /audit-logs/bulk-delete:
    post:
      tags: [Audit Logs]
      summary: Bulk delete audit logs
      description: Deletes multiple audit log entries.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ids]
              properties:
                ids:
                  type: array
                  items:
                    type: string
      responses:
        "200":
          description: Bulk delete result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      deleted:
                        type: integer
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      x-required-permissions:
        - view:audit-logs

  /audit-logs/{id}:
    delete:
      tags: [Audit Logs]
      summary: Delete audit log entry
      description: Deletes a single audit log entry.
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Entry not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-required-permissions:
        - view:audit-logs

  # ── Lobby ─────────────────────────────────────────────
  /lobby:
    post:
      tags: [Lobby]
      summary: Create a lobby link
      description: |
        Creates a lobby join link for a server (proxied through the API to avoid
        CORS). Replaces the old `POST /lobby/create/:serverName` path param.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [serverName]
              properties:
                serverName:
                  type: string
      responses:
        "201":
          description: Lobby link created
[...]
